[submodule "viacodesasite/public"]
	path = viacodesasite/public
	url = https://github.com/via-codes/via-codes.github.io.git
	branch = main
[submodule "public"]
	url = https://github.com/via-codes/via-codes.github.io.git
